{% extends 'base.html.twig' %}

{% block title %}Hello AssignKPIController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/homepage/Logged" class="nav-link px-2 text-secondary">Home</a></li>
            </ul>



            <div class="text-end">
                <button onclick="location.href = '/logout';" type="button" class="btn btn-outline-light me-2">Sign Out</button>
            </div>
        </div>
    </div>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .custom-select {
            /* Add your custom styles here */
            /* Example styles: */
            padding: 0.5rem;
            border: 1px solid #ced4da;
            border-radius: 4px;
            width: 100%; /* Adjust the width as needed */
        }
    </style>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <a href="/homepage/Logged" class="logo"><i class="fas fa-charging-station"></i> <span>IoT</span></a>
                </a>



            </header>
            <nav class="dash-nav-list">
                <a href="/homepage/Logged" class="dash-nav-item">
                    <i class="fas fa-home"></i> Home </a>

                <a href="/user/profile" class="dash-nav-item">
                    <i class="fa fa-user-circle"></i> User </a>


                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-cube"></i> Systems </a>
                    <div class="dash-nav-dropdown-menu">

                        <a href="/system_registration" class="dash-nav-dropdown-item">Create system</a>
                    </div>
                </div>


                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-info"></i> About </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="https://github.com/TomJuh/BUT-IIS" target="_blank" class="dash-nav-dropdown-item">GitHub</a>

                    </div>
                </div>
            </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>

                <div class="tools">


                    <button onclick="location.href='/logout';" type="button" class="btn custom-sign-out-btn me-2">Sign Out</button>
                </div>
            </header>




            <!--------------------------------- Page Content ------------------>
            <main class="dash-content">
                <div class="container-fluid">
                    <div class="row dash-row">
                        <h1>Create a KPI</h1>

                        {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_label(form.value) }}
                            {{ form_widget(form.value, {'attr': {'class': 'form-control custom-select'}}) }}
                            {{ form_errors(form.value) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.function) }}
                            {{ form_widget(form.function, {'attr': {'class': 'form-control custom-select'}}) }}
                            {{ form_errors(form.function) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.parameter) }}
                            {{ form_widget(form.parameter, {'attr': {'class': 'form-control custom-select'}}) }}
                            {{ form_errors(form.parameter) }}
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </main>


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="/js/spur.js"></script>

        </div>
    </div>
<script>

</script>
{% endblock %}
