{% extends 'base.html.twig' %}

{% block title %}Hello AssignUsersToSystemController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/homepage/Logged" class="nav-link px-2 text-secondary">Home</a></li>
            </ul>



            <div class="text-end">
                <button onclick="location.href = '/logout';" type="button" class="btn btn-outline-light me-2">Sign Out</button>
            </div>
        </div>
    </div>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .input-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .rounded-input {
            width: 100%;
            margin-bottom: 15px;
        }

        .rounded-input input[type="email"] {
            width: 100%;
            padding: 10px 15px;
            border-radius: 20px;
            border: 1px solid #ccc;
            font-size: 16px;
            box-sizing: border-box;
            outline: none;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }


    </style>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <a href="/homepage/Logged" class="logo"><i class="fas fa-charging-station"></i> <span>IoT</span></a>
                </a>



            </header>
            <nav class="dash-nav-list">
                <a href="/homepage/Logged" class="dash-nav-item">
                    <i class="fas fa-home"></i> Home </a>

                <a href="/user/profile" class="dash-nav-item">
                    <i class="fa fa-user-circle"></i> User </a>


                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-cube"></i> Systems </a>
                    <div class="dash-nav-dropdown-menu">

                        <a href="/system_registration" class="dash-nav-dropdown-item">Create system</a>
                    </div>
                </div>



                {% for rl in role %}
                    {% if rl == "ROLE_ADMIN"%}
                        <div class="dash-nav-dropdown">
                            <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                                <i class="fas fa-user-shield"></i> Admin</a>
                            <div class="dash-nav-dropdown-menu">
                                <a href="\admin"  class="dash-nav-dropdown-item">Admin</a>
                                <a href="\brooker"  class="dash-nav-dropdown-item">Broker</a>
                            </div>
                        </div>
                    {% elseif rl == "ROLE_BROKER" %}
                        <div class="dash-nav-dropdown">
                            <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                                <i class="fas fa-user-shield"></i> Broker </a>
                            <div class="dash-nav-dropdown-menu">
                                <a href="\brooker"  class="dash-nav-dropdown-item">Broker</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-info"></i> About </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="https://github.com/TomJuh/BUT-IIS" target="_blank" class="dash-nav-dropdown-item">GitHub</a>

                    </div>
                </div>
            </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>

                <div class="tools">


                    <button onclick="location.href='/logout';" type="button" class="btn custom-sign-out-btn me-2">Sign Out</button>
                </div>
            </header>




            <main class="dash-content">
                <div class="container-fluid">
                    <div class="row dash-row">
                        <form action="{{ path('handle_user_assignment', {'id': systemId}) }}" method="post">
                            {% for user in users %}
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">User Details</h5> <!-- Title added here -->
                                            <h6 class="card-subtitle mb-2 text-muted">Email: {{ user.email }}</h6> <!-- Email displayed -->
                                            <ul class="list-group list-group-flush">
                                                {% for role in user.roles %}
                                                    {% set roleColor = '' %}
                                                    {% if role == 'ROLE_ADMIN' %}
                                                        {% set roleColor = 'text-danger' %}
                                                    {% elseif role == 'ROLE_USER' %}
                                                        {% set roleColor = 'text-primary' %}
                                                    {% elseif role == 'ROLE_BROKER' %}
                                                        {% set roleColor = 'text-success' %}
                                                    {% endif %}
                                                    <li class="{{ roleColor }}">{{ role }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div id="user-not-found" style="color: red; display: none;">
                                User does not exist. Please register first.
                            </div>
                            <div id="user-already-added" style="color: red; display: none;">
                                User is already in the system.
                            </div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <section class="p-4">
                                            <div class="input-container">
                                                <div class="rounded-input">
                                                    <input type="email" name="email" id="email" placeholder="Enter email address" required>
                                                </div>
                                                <div class="button-container">
                                                    <button type="submit" class="btn btn-primary">Add User</button>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="/js/spur.js"></script>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').on('submit', function(e) {
                e.preventDefault();
                var email = $('#email').val();
                var systemId = '{{ systemId }}'; // Assign systemId from Twig variable

                $.ajax({
                    type: 'POST',
                    url: '{{ path('handle_user_assignment') }}',
                    data: { email: email, systemId: systemId },
                    success: function(response) {
                        if (response === 'success') {
                            // Show success message
                            alert('User added successfully!');
                            // Refresh the page after successful addition
                            location.reload();
                        } else if (response === 'User already added.') {
                            // Show user already added error message
                            $('#user-already-added').show();
                            $('#user-not-found').hide();
                        }
                    },
                    error: function(xhr) {
                        if (xhr.status === 404) {
                            // Show user not found error message
                            $('#user-not-found').show();
                            $('#user-already-added').hide();
                        } else {
                            // Show error message for any other failures
                            alert('An error occurred. Please try again.');
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
