{% extends 'base.html.twig' %}

{% block title %}HomePageLogged{% endblock %}

{% block body %}
<style>
    .widget-49-wrapper {
        display: flex;
        /* Other styles for the wrapper */
    }
    .widget-49-date-primary {
        /* Add styles to the parent div */
        display: flex; /* Use flexbox for alignment */
        align-items: center; /* Align items vertically */
        justify-content: center; /* Center content horizontally */
        /* You can add more styles here as needed */
    }
    .widget-49-title-wrapper {
        margin-left: 15px; /* Adjust the left margin to add space */
        /* Other styles for the title wrapper */
    }

    .widget-devices {
        margin-left: 170px; /* Adjust the left margin to add space */
        /* Other styles for the devices container */
    }
    .widget-49-date-primary i {
        /* Add styles to the icons */
        font-size: 50px; /* Adjust the icon size */
        /* You can add more styles here as needed */
    }

    .widget-49-points {
        display: flex;

        flex-direction: row; /* Arrange items horizontally */
        /* Other styles for the ol container */
    }

    .widget-49-Det::after {
        content: "";
        display: block;
        clear: both;
    }

    .widget-49-Details {
        margin-left: 105px; /* Adjust margin for spacing */
        /* Other styles for the details div */
    }

</style>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <a href="/homepage/Logged" class="logo"><i class="fas fa-charging-station"></i> <span>IoT</span></a>
                </a>



            </header>
            <nav class="dash-nav-list">
                <a href="/homepage/Logged" class="dash-nav-item">
                    <i class="fas fa-home"></i> Home </a>

                <a href="/user/profile" class="dash-nav-item">
                    <i class="fa fa-user-circle"></i> User </a>


                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-cube"></i> Systems </a>
                    <div class="dash-nav-dropdown-menu">

                        <a href="/system_registration" class="dash-nav-dropdown-item">Create system</a>
                    </div>
                </div>


                {% for rl in role %}
                {% if rl == "ROLE_ADMIN"%}
                <div class="dash-nav-dropdown">
                <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                    <i class="fas fa-user-shield"></i> Admin</a>
                <div class="dash-nav-dropdown-menu">
                    <a href="\admin"  class="dash-nav-dropdown-item">Admin</a>
                    <a href="\brooker"  class="dash-nav-dropdown-item">Broker</a>
                </div>
                </div>
                {% elseif rl == "ROLE_BROKER" %}
                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-user-shield"></i> Broker </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="\brooker"  class="dash-nav-dropdown-item">Broker</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-info"></i> About </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="https://github.com/TomJuh/BUT-IIS" target="_blank" class="dash-nav-dropdown-item">GitHub</a>

                    </div>
                </div>
            </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>

                <div class="tools">


                    <button onclick="location.href='/logout';" type="button" class="btn custom-sign-out-btn me-2">Sign Out</button>
                </div>
            </header>



            <!--------------------------------- Page Content ------------------>
            <main class="dash-content">
                <div class="container-fluid">
                    <div class="row dash-row">
                        <div class="row">
                            {% for pair in systemKpiPairs %}
                            <div class="col-md-4 mb-4">
                                <div class="card card-margin d-flex flex-column justify-content-between" style="min-height: 250px;">
                                    <div class="card-header no-border">
                                        <h5 class="card-title">System: {{ pair.system.name }}</h5>
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="widget-49">
                                            <div class="widget-49-title-wrapper">
                                                <div class="widget-49-date-primary">
                                                    {% if pair.kpi == 'true' %}
                                                        <i class="fas fa-check-circle"></i> <!-- Font Awesome check circle icon -->
                                                    {% elseif pair.kpi == 'false' %}
                                                        <i class="fas fa-times-circle"></i> <!-- Font Awesome times circle icon -->
                                                    {% else %}
                                                        <i class="fas fa-question-circle"></i> <!-- Font Awesome question circle icon -->
                                                    {% endif %}
                                                </div>
                                                <div class="widget-devices">
                                                    <div class="widget-50-Det">
                                                        <a class="btn btn-sm btn-flash-border-primary">Devices:</a>
                                                    </div>
                                                    <ol class="widget-50-points">
                                                        {% for dev in pair.Devices %}
                                                            <li class="widget-50-item"><span>{{dev.UserAlias}}</span></li>
                                                        {% endfor %}
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ol class="widget-49-points mt-auto">
                                        <form action="{{ path('delete_system', {'id': pair.system.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this system?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pair.system.id) }}">
                                            <button type="submit" class="btn btn-danger">Delete System</button>
                                        </form>
                                        <div class="widget-49-Details">
                                            <a href="{{ path('app_system_details', {'id': pair.system.id}) }}" class="btn btn-sm btn-flash-border-primary">View Details</a>
                                        </div>
                                    </ol>
                                </div>
                            </div>
                            {% if loop.index % 3 == 0 or loop.last %}
                        </div>
                        {% if not loop.last %}
                        <div class="row justify-content-center mb-3">
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        <section class="p-4 text-center w-100">
                            <a href="/system_registration" class="btn btn-primary">Create system</a>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/spur.js"></script>


{% endblock %}
