{% extends 'base.html.twig' %}

{% block title %}Hello AssignDevicesController!{% endblock %}

{% block body %}
    <form action="{{ path('handle_device_assignment', {'id': systemId}) }}" method="post">
        {% for deviceDetail in deviceDetails %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <label>
                            <input type="checkbox" name="selected_devices[]" value="{{ deviceDetail.device.id }}">
                        </label>
                        <h5 class="card-title">Device ID: {{ deviceDetail.device.id }}</h5>
                        <p class="card-text">User Alias: {{ deviceDetail.userAlias }}</p>
                        <p class="card-text">Type Name: {{ deviceDetail.typeName }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Parameters</h6>
                        <ul class="list-group list-group-flush">
                            {% for parameter in deviceDetail.parameters %}
                                <li>{{ parameter.name }}</li>
                                <ul>
                                    {% for value in parameter.values %}
                                        <li>{{ value }}</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {{ deviceDetail.userAlias }}
            </div>
        {% endfor %}
        <input type="hidden" name="system_id" value="{{ systemId }}">
        <button type="submit">Assign to System</button>
    </form>
{% endblock %}
