{% extends 'base.html.twig' %}

{% block title %}Hello AssignDevicesController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/homepage/Logged" class="nav-link px-2 text-secondary">Home</a></li>
            </ul>



            <div class="text-end">
                <button onclick="location.href = '/logout';" type="button" class="btn btn-outline-light me-2">Sign Out</button>
            </div>
        </div>
    </div>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    </style>


    <div class="dash">
    <div class="dash-nav dash-nav-dark">
        <header>
            <a href="#!" class="menu-toggle">
                <i class="fas fa-bars"></i>
                <a href="/homepage/Logged" class="logo"><i class="fas fa-charging-station"></i> <span>IoT</span></a>
            </a>



        </header>
        <nav class="dash-nav-list">
            <a href="/homepage/Logged" class="dash-nav-item">
                <i class="fas fa-home"></i> Home </a>

            <a href="/user/profile" class="dash-nav-item">
                <i class="fa fa-user-circle"></i> User </a>


            <div class="dash-nav-dropdown">
                <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                    <i class="fas fa-cube"></i> Systems </a>
                <div class="dash-nav-dropdown-menu">

                    <a href="/system_registration" class="dash-nav-dropdown-item">Create system</a>
                </div>
            </div>



            {% for rl in role %}
                {% if rl == "ROLE_ADMIN"%}
                    <div class="dash-nav-dropdown">
                        <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                            <i class="fas fa-user-shield"></i> Admin</a>
                        <div class="dash-nav-dropdown-menu">
                            <a href="\admin"  class="dash-nav-dropdown-item">Admin</a>
                            <a href="\brooker"  class="dash-nav-dropdown-item">Broker</a>
                        </div>
                    </div>
                {% elseif rl == "ROLE_BROKER" %}
                    <div class="dash-nav-dropdown">
                        <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                            <i class="fas fa-user-shield"></i> Broker </a>
                        <div class="dash-nav-dropdown-menu">
                            <a href="\brooker"  class="dash-nav-dropdown-item">Broker</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="dash-nav-dropdown">
                <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                    <i class="fas fa-info"></i> About </a>
                <div class="dash-nav-dropdown-menu">
                    <a href="https://github.com/TomJuh/BUT-IIS" target="_blank" class="dash-nav-dropdown-item">GitHub</a>

                </div>
            </div>
        </nav>
    </div>
    <div class="dash-app">
        <header class="dash-toolbar">
            <a href="#!" class="menu-toggle">
                <i class="fas fa-bars"></i>
            </a>

            <div class="tools">


                <button onclick="location.href='/logout';" type="button" class="btn custom-sign-out-btn me-2">Sign Out</button>
            </div>
        </header>



        <main class="dash-content">
            <style>
                .larger-checkbox input[type="checkbox"] {
                    width: 30px; /* Width of the checkbox */
                    height: 30px; /* Height of the checkbox */
                }

                .larger-checkbox input[type="checkbox"]:checked {
                    transform: scale(1.5); /* Increases the scale when checked */
                }
            </style>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <form action="{{ path('handle_device_assignment', {'id': systemId}) }}" method="post">
                        {% if deviceDetails is empty %}
                            <p>No devices found.</p>
                        {% else %}
                            <div class="row justify-content-center mb-3">
                            {% for deviceDetail in deviceDetails %}
                                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                                    <div class="card" style="min-height: 250px;">
                                        <div class="card-header no-border">
                                            <h5 class="card-title text-center">Device: {{ deviceDetail.userAlias }}</h5>
                                        </div>
                                        <div class="card-body d-flex align-items-center">
                                            <div class="col-4">
                                                <div class="text-center">
                                                    <img src="{{ asset(deviceDetail.imagePath) }}" alt="{{ deviceDetail.userAlias }} Image" width="60" height="60" class="img-fluid mb-2">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="widget-parameters">
                                                    <div class="widget-50-Det">
                                                        <a class="btn btn-sm btn-flash-border-primary">Parameters:</a>
                                                    </div>
                                                    <ul class="list-group list-group-flush">
                                                        {% for parameter in deviceDetail.parameters %}
                                                            <li class="list-group-item">
                                                                <strong>{{ parameter.parameter.name }}:</strong>
                                                                {% set jsonValues = parameter.parameter.values %}
                                                                {% if jsonValues is iterable %}
                                                                    {# Get the last value in the array #}
                                                                    {% set lastValue = jsonValues|last %}
                                                                    {{ lastValue }}
                                                                    {{ parameter.unit }}
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-2 d-flex justify-content-end align-items-center larger-checkbox">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="selected_devices[]" value="{{ deviceDetail.device.id }}" id="checkbox{{ loop.index }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index % 3 == 0 or loop.last %}
                                    </div>
                                    {% if not loop.last %}
                                        <div class="row justify-content-center mb-3">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </div>
                            <div class="text-center">
                                <input type="hidden" name="system_id" value="{{ systemId }}">
                                <button type="submit" class="btn btn-primary">Assign to System</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/js/spur.js"></script>
    </div>
</div>
{% endblock %}
